.contact-map{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  &_content{
    position: relative;
    top: 0;
    float: right;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 110px 85px;
  }

  .content{

    &_title{
      font-size: 40px;
      font-weight: bold;
      display: block;
      color: #424955;
    }

    &_phone{
      font-size: 30px;
      display: block;
      color: #595d69;
      font-weight: 500;
    }

    &_email{
      font-size: 20px;
      display: block;
      color: #595d69;
      font-weight: 500;
    }

    &_address{
      font-size: 20px;
      display: block;
      color: #595d69;
      font-weight: 500;
    }

    &_button{
      background-color: #3385cc;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 15px 15px;
      font-size: 14px;
      margin-top: 30px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      font-weight: 600;
      letter-spacing: 1px;

      &:hover{
        background-color: #3888cd;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
      }
    }
  }

}