.contact-map{
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  @include b(500){
    flex-direction: column-reverse;
  }

  iframe{
    position: absolute;
    
    @include b(500){
      position: relative;
      height: 300px;
    }
  }

  &_content{
    position: relative;
    top: 0;
    float: right;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 110px 85px;

    @include b(850){
      padding: 50px 35px;
      grid-gap: 10px;
    }

  }

  .content{

    &_title{
      font-size: 40px;
      font-weight: bold;
      display: block;
      color: #424955;

      @include b(850){
        font-size: 25px;
      }
    }

    &_phone{
      font-size: 30px;
      display: block;
      color: #595d69;
      font-weight: 500;
      
      @include b(850){
        font-size: 20px;
      }
    }

    &_email{
      font-size: 20px;
      display: block;
      color: #595d69;
      font-weight: 500;

      @include b(850){
        font-size: 15px;
      }
    }

    &_address{
      font-size: 20px;
      display: block;
      color: #595d69;
      font-weight: 500;

      @include b(850){
        font-size: 15px;
      }
    }

    &_button{
      background-color: #3385cc;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 15px;
      font-size: 14px;
      margin-top: 30px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s;
      font-weight: 600;
      letter-spacing: 1px;

      @include b(850){
        font-size: 12px;
        margin-top: 10px;
      }

      &:hover{
        background-color: #3888cd;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.35);
      }
    }
  }

}