.audit {
	background-image: url(../img/bg/audit.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 20px;

	&_wrap {
		max-width: 1250px;
		margin: 0 auto;

		.audit_content {
			display: grid;
			grid-template-columns: minmax(320px,600px) minmax(320px,600px);
			grid-gap: 50px;
			justify-content: center;

			@include b(800){
				grid-template-columns: 1fr;
			}

			.audit_item_left {
				position: relative;

				@include b(800){
					display: none;
				}

				.audit_item_imges {
					position: relative;

					.audit_image_main_wrap {
						width: 100%;
						overflow: hidden;

						.audit_image_main {
							//width: 100%;
						}
					}

					.audit_image_sub {
						position: absolute;
						top: 20%;
						right: 0;
						z-index: 99;
					}
				}
			}

			.audit_item_right {
				padding-left: 20px;

				.audit_title_wrap {
					width: 100%;
					display: block;

					.audit_title {
						display: block;
						font-weight: 700;
						font-size: 35px;
						color: white;
						text-align: left;
						margin: 0;
						line-height: 1.5;
						margin-bottom: 30px;

						&:after{
							width: 70px;
							background-color: #00B7F3;
							height: 1px;
							display: block;
							content: '';
							margin-top: 30px;
						}
					}
				}

				.audit_text{
					color: white;
					font-size: 15px;
    			font-weight: 500;
				}
			}
		}
	}
}