.audit{
  background-color: gray;
  padding: 50px;
  &_wrap{
    .audit_title{
      width: 100%;
      display: block;
      .lm_title{
        display: block;
        font-weight: bold;
        font-size: 30px;
        color: white;
        text-align: center;
        margin: 30px 0 50px 0;
      }
    }

    .audit_content{
      .audit_items{
        
      }
    }
  }
}