section.analysis{
  padding: 50px 100px;
  background-color: #F3F3F5;

  .analysis_wrap{
    .lm_analysis_title{
      width: 100%;
      display: block;
      .lm_title{
        display: block;
        font-weight: bold;
        font-size: 30px;
        color: black;
        text-align: center;
        margin: 30px 0 50px 0;
      }
    }
    .analysis_content{
      .analysis_table{
        table-layout: fixed;
        border-collapse: collapse;
        font-family: $mainFont;

        thead,tbody{
          tr{
            td,th{
              width: 33.33333%;
              border: none;
            }
          }
        }

        thead{
          tr{
            th{
              color: white;
              font-weight: 300;
              padding: 20px 0;
              font-size: 20px;

              &:nth-child(1){
                background-color: #00B7F3;
              }

              &:nth-child(2){
                background-color: #2F5F87;
                border-left: 6px solid white;
                border-right: 6px solid white;
              }

              &:nth-child(3){
                background-color: #4A97B5;
              }
            }
          }
        }

        tbody{
          tr{
            &:nth-child(even){
              background-color: white;
            }

            td{
              padding: 20px 25px;
              font-size: 15px;
			  line-height: 1.4;
			  font-weight: 500;

              .analysis_table_title{
				font-weight: 600;

				&:before{
					content: '';
					background-image: attr(data-image url);
				}
              }
            }
          }
        }
      }
    }
  }
}