<section class="get-analysis" @@if (bg.active) {style="background-image:url(@@bg.url);"}>
  <div class="get-analysis_wrap">

    @@if (title.active === true ) {
    <div class="get-analysis_title">
      <span class="lm_title">@@title.text</span>
    </div>
    }

    <div class="get-analysis_content_@@type.page">

      <div class="get-analysis_items">

        @@for (var i = 0; i < items.length; i++) {
          <div class="get-analysis_item_@@type.page">
            <img src="`+items[i].img+`" class="get-analysis_item_img" alt="`+items[i].imgAlt+`">
            <span class="get-analysis_item_text">`+items[i].text+`</span>
          </div>
        }

      </div>

    </div>
    
  </div>
</section>