.get-analysis {
	background-color: #f2f3f7;
	padding: 100px 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&_wrap {
		.get-analysis_title {
			width: 100%;
			display: block;

			.lm_title {
				display: block;
				font-weight: bold;
				font-size: 35px;
				font-weight: 500;
				color: white;
				text-align: center;
				margin: 0 0 80px 0;

				@include b(600){
					margin: 0px 0 30px 0;
					font-size: 20px;
				}
			}
		}

		.get-analysis_content_simple{
			margin-bottom: 50px;
		}

		.get-analysis_content_simple,
		.get-analysis_content_dynamic{

			.get-analysis_items {
				display: grid;
				grid-template-columns: repeat(auto-fit,minmax(150px,230px));
				grid-gap: 20px;
				justify-content: center;

				.get-analysis_item_simple{
					min-height: 250px;
					padding-top: 50px;

					.get-analysis_item_img{
						margin-bottom: 20px;
					}
				}
				
				.get-analysis_item_dynamic{
					padding: 40px 0;

					.get-analysis_item_img{
						margin-bottom: 30px;
					}
				}
				
				.get-analysis_item_simple,
				.get-analysis_item_dynamic {
					background-color: #2e4576;
					display: flex;
					flex-direction: column;
					align-items: center;

					.get-analysis_item_text {
						color: white;
						text-align: center;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-weight: 600;
						line-height: 1.4;
						font-size: 18px;
						letter-spacing: 1px;
					}
					.get-analysis_item_img{
						border-radius: 10em;
					}
				}
			}
		}
	}
}