.header-inner_s3{
	.breadcrumbs{
		margin: 0px 0 50px 0;
	}

	.header_buttons{
		margin-top: 50px;
	}
}

.header-inner_s2{
	margin-bottom: 100px;
	
	.breadcrumbs{
		margin: 0px 0 50px 0;
	}

	.header-inner_wrap{
		margin-bottom: 170px;
	}
}

.header-inner_s1{
	.breadcrumbs{
		// margin: 0px 0 50px 0;
	}

	.header_buttons{
		// margin-top: 50px;
	}
}

.header-inner,
.header-inner_s1,
.header-inner_s2,
.header-inner_s3 {
	height: auto;

	&_wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 100px 0;

		.breadcrumbs {
			&_items {
				display: flex;

				.breadcrumb_item {
					a {
						color: white;
						opacity: 0.8;
						cursor: pointer;

						&:hover {
							opacity: 1;
						}
					}
				}

				.breadcrumb_separate {
					color: white;
					opacity: 0.8;
					margin: 0 10px;
					cursor: context-menu;
				}

				.breadcrumb_active {
					color: white;
					cursor: context-menu;
				}
			}
		}

		&_title {
			margin-top: 30px;

			.title_text {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 3.5em;
				color: white;
			}
		}
	}
}

.header-keys{
	margin-bottom: 150px;
}