.header-inner_s3{
	.breadcrumbs{
		margin: 0px 0 50px 0;
	}

	.header_buttons{
		margin-top: 50px;
	}
}

.header-inner_s2{
	margin-bottom: 100px;

	@include b(750){
		margin-bottom: 50px;
	}

	@include b(450){
		margin-bottom: 0;
	}
	
	.breadcrumbs{
		margin: 0px 0 50px 0;
	}

	.header-inner_wrap{
		margin-bottom: 170px;

		@include b(750){
			margin-bottom: 80px;
		}

		@include b(450){
			margin-bottom: 30px;
		}
	}
}

.header-inner_s4{
	.header-inner_wrap{
		margin: 100px 0 0px 0;
	}
}

.header-inner,
.header-inner_s1,
.header-inner_s2,
.header-inner_s3,
.header-inner_s4 {
	height: auto;

	&_wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 100px 0;

		.breadcrumbs {
			&_items {
				display: flex;

				@include b(600){
					flex-direction: column;
				}

				.breadcrumb_item {
					a {
						color: white;
						opacity: 0.8;
						cursor: pointer;

						&:hover {
							opacity: 1;
						}
					}

					@include b(600){
						margin-bottom: 5px;
					}

				}

				.breadcrumb_separate {
					color: white;
					opacity: 0.8;
					margin: 0 10px;
					cursor: context-menu;

					@include b(600){
						display: none;
					}
				}

				.breadcrumb_active {
					color: white;
					cursor: context-menu;
				}
			}
		}

		&_title {
			margin-top: 30px;

			.title_text {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 3.5em;
				color: white;
			}
		}
	}
}

.header-keys{
	margin-bottom: 150px;
}